/*style.css*/
/*créé par Marie-Michèle Landry*/
/*Le 22-04-2020*/

body
{
    width: 56.25 rem;
    margin: auto;
    background-image: url(../media/background.jpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: blueviolet;

}
h1{
    font-size: 2.25rem;
}
h2{
    font-size: 1.5rem;
}
h1,h2{
    color: red;
    text-align: center;
}
p{
    font-size: 0.875rem;
    text-align: justify;
}
a:link {color:deepskyblue;
}
a:visited {color: blue;
}
a:hover {
    text-decoration: underline
}